<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hello IS429 from Thandar</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="php">
  <div class="example-chat l-demo-container">
      <header>Firebase Chat Demo</header>

      <div class="example-chat-toolbar">
        <label for="nameInput">Username:</label>
        <input ng-model="name" type="text" id="nameInput" placeholder="enter a username..." class="ng-pristine ng-untouched ng-valid">
      </div>

      <ul id="example-messages" class="example-chat-messages">
        <!-- ngRepeat: msg in messages --><li ng-repeat="msg in messages" class="ng-binding ng-scope">
          <strong class="example-chat-username ng-binding">Thandar</strong>
          Hello
        </li><!-- end ngRepeat: msg in messages -->
      </ul>

      <footer>
        <input ng-model="msg" ng-keydown="addMessage($event)" type="text" id="messageInput" placeholder="Type a message..." class="ng-pristine ng-untouched ng-valid">
      </footer>
    </div>
</body>
</html>
